/** @mainpage Qore python Module

    @tableofcontents

    @section pythonintro python Module Introduction

    The \c python module allows for transparent and dynamic bidirectional importing of code from %Qore to %Python and
    vice-versa.  Qore classes can inherit %Python classes and extend them, and %Python classes can inherit %Qore classes
    and extend them as well; even %Qore abstract classes can be inherited by %Python classes and made concrete by
    implementing the required concrete methods in %Python.

    This module also implements support in the same shared object for the \c qoreloader module for %Python so allow
    native %Python code to import %Qore APIs; see @ref python_qoreloader_moduleguide for more information.

    This module is released under LGPL 2.1 or later (see \c COPYING.LGPL in the source distribution).
    Supporting files with MIT notices retain those permissions; bundled CPython internal definitions also
    retain Python's license (see \c COPYING.Python). The module reports its LGPL license to the %Qore runtime.

    To use the module in a %Qore script, use the \c %%requires directive as follows:
    @code{.py} %requires python @endcode

    Helper %Qore classes provided by this module:
    |!Class|!Description
    |@ref Python::PythonProgram "PythonProgram"|Allows %Python code to be embedded and executed in %Qore

    @section pythondocumentation Documentation

    - @anchor python_examples @subpage python_examplesguide
    - @anchor python_import @subpage python_importguide
    - @anchor python_qore_import @subpage python_qore_importguide
    - @anchor python_threads_and_stack @subpage python_threads_and_stackguide
    - @anchor python_qoreloader_module @subpage python_qoreloader_moduleguide
    - @anchor python_types @subpage python_typesguide
    - @anchor python_exceptions @subpage python_exceptionsguide
    - @anchor python_qore_object_lifecycle_management @subpage python_qore_object_lifecycle_managementguide
    - @anchor pythonreleasenotes @subpage pythonreleasenotesguide

*/
