/** @mainpage Qore python Module

    @tableofcontents

    @section pythonintro python Module Introduction

    The \c python module allows for transparent and dynamic bidirectional importing of code from %Qore to %Python and
    vice-versa.  Qore classes can inherit %Python classes and extend them, and %Python classes can inherit %Qore classes
    and extend them as well; even %Qore abstract classes can be inherited by %Python classes and made concrete by
    implementing the required concrete methods in %Python.

    This module also implements support in the same shared object for the \c qoreloader module for %Python so allow
    native %Python code to import %Qore APIs; see @ref python_qoreloader_module for more information.

    This module is released under LGPL 2.1 or later (see \c COPYING.LGPL in the source distribution).
    Supporting files with MIT notices retain those permissions; bundled CPython internal definitions also
    retain Python's license (see \c COPYING.Python). The module reports its LGPL license to the %Qore runtime.

    To use the module in a %Qore script, use the \c %%requires directive as follows:
    @code{.py} %requires python @endcode

    Helper %Qore classes provided by this module:
    |!Class|!Description
    |@ref Python::PythonProgram "PythonProgram"|Allows %Python code to be embedded and executed in %Qore

    @section python_examples Examples

    @subpage python_examplesguide


    @section python_import Importing Python APIs into Qore

    @subpage python_importguide


    @section python_qore_import Importing Qore APIs into Python

    @subpage python_qore_importguide


    @section python_threads_and_stack Python Threading and Stack Management

    @subpage python_threads_and_stackguide


    @section python_qoreloader_module qoreloader Module

    @subpage python_qoreloader_moduleguide


    @section python_types Type Conversions Between Qore and Python

    @subpage python_typesguide


    @section python_exceptions Python Exception Handling

    @subpage python_exceptionsguide


    @section python_qore_object_lifecycle_management Managing the Lifecycle of Qore objects from Python

    @subpage python_qore_object_lifecycle_managementguide


    @section pythonreleasenotes python Module Release Notes

    @subpage pythonreleasenotesguide

*/
